{% extends 'base.html' %}

{% block content %}


<h1>Criar Ensaio</h1>

<div class="container">
    <form method="POST">
        {{ form.hidden_tag() }}
    
        {{ form.nome.label }}<br>
        {{ form.nome(size=15) }}<br>

        {{ form.piloto.label }}<br>
          1 : {{ form.piloto(size=1) }}<br>

        {{ form.rico.label }}<br>
          1 : {{ form.rico(size=1) }}<br>

        {{ form.pobre.label }}<br>
          1 : {{ form.pobre(size=1) }}<br>

<!--
        {{ form.cp.label }}<br>
        {{ form.cp(size=3) }}<br>
-->
        {{ form.pesobrita.label }}<br>
        {{ form.pesobrita(size=3) }}<br>

        {{ form.slump.label }}<br>
        {{ form.slump(size=3) }}<br>

<!--
        {{ form.umidade.label }}<br>
        {{ form.umidade(size=3) }}<br>
-->

        {{ form.submit }}
    </form>
</div>


{% endblock %}
