{% extends 'base.html' %}

{% block content %}


<h1>Home Page</h1>

<div class="container">

    <a href="/criar", >Criar</a>

</div>


<br>
{% for i in ensaios_registrados %}
<div class="container bg-secondary">
    {{ i.nome }}
    <a href="/dosagem/{{ i.id }}" class='btn btn-secondary'>Dosagem</a>
    <a href="/editar_ensaio/{{ i.id }}" class='btn btn-secondary'>Editar Parametros</a>
    <a href="/home/{{ i.id }}" class="btn btn-danger btn-sm">DELETAR</a></td>
</div>
{% endfor %}


{% endblock %}
